---
import Header from '../components/Header.astro'
import IconLink from '../components/IconLink.astro'
import { socials } from '../data'
import Layout from '../layouts/Layout.astro'
---

<Layout title="It's Fiezt here!">
    <div class="h-full static w-screen-sm">
        <div
            class="absolute top-0 inset-x-0 py-4 flex flex-row justify-center items-center"
        >
            <Header />
        </div>
        <div
            class="container mx-auto items-center justify-center flex flex-col h-full"
        >
            <div class="flex flex-row">
                <img id="name" src="/bumping.gif" />
            </div>
        </div>

        <div
            class="absolute bottom-0 inset-x-0 py-4 flex flex-row justify-center items-center"
        >
            <div
                class="flex flex-row max-w-screen-sm container mx-auto px-4 justify-between w-full flex-wrap"
            >
                {
                    socials.map((v) => (
                        <IconLink href={v.href} title={v.name} src={v.icon} />
                    ))
                }
            </div>
        </div>
    </div>
    <audio id="loop" src="audio/8bit-theme-song.mp3" hidden preload="auto" loop
    ></audio>
</Layout>

<script>
    var sample = document.getElementById('loop') as HTMLAudioElement
    if (sample) sample.volume = 0.1
</script>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    #name {
        width: 100%;
        cursor: pointer;
    }

    a {
        cursor: pointer;
    }

    #name:hover {
        @apply scale-125;
        animation: zoom-in-zoom-out 1s ease infinite;
    }

    @keyframes zoom-in-zoom-out {
        0% {
            transform: scale(1, 1);
        }
        50% {
            transform: scale(1.2, 1.2);
        }
        100% {
            transform: scale(1, 1);
        }
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }
    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }
    .instructions strong {
        color: rgb(var(--accent));
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
